/* common */
html, body, template, #app {
  height: 100%;
}

body {
  background-color: #000000;
  color: #ffffff;
  /* navBar 상단 고정 이후, 컨텐츠를 제대로 보여주기 위한 padding */
  padding-top: 60px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  background-color: #000000;
}

.home, .community, .tinder-div, .recommend{
  margin: 2rem;
}

.home, .recommend {
  margin-left: 5rem;
  margin-right: 5rem;
}

.tinder-div {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.fade-enter-active, .fade-leave-active {
  /* 트랜지션을 넣었더니 더 구림 */
  /* transition: opacity .5s; */
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

textarea {
  padding: 10px;
  width: 1000px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

/* auth */
.authForm {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: 50%;
  left: 50%;
  width: 50vh;
  height: 25vh;
  flex-flow: column wrap;
  margin: -25vh 0 0 -25vh;
}

.authForm input {
  margin: 5px 0;
}

.submitBtn {
  background-color:  red;
  color: white;
  font-size: bold;
}

.authForm a{
  text-decoration: none;
  color: white;
}

/* login */
.loginAddOn{
  color: gray;
  margin-top: 1rem;
}


/* community */
.review-list-inset {
  padding-top: 2rem;
}

.v-expansion-panel input, textarea{
  color: white;
}

/* input */
.input-box {
  width: 280px;
  border-bottom: solid 1px white;
  margin-right: 10px;
}
